<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% blogs.forEach(blog => { %>
    <div class="col">
      <div class="card shadow-sm">
        <img src="<%= blog.coverImage %>" alt="blog images" class="img-fluid" />
        <div class="card-body">
          <p class="card-title fs-5 fw-bold">
            <%= blog.title.slice(0, 45) %>...
          </p>
          <p class="card-text"><%= blog.content.slice(0, 60) %></p>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">
              <a href="/blog/<%= blog._id %>" class="nav-link"
                >Continue reading...</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('./partials/footer') %>
