<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div class="container mt-4">
  <div class="card mx-auto shadow box">
    <div>
      <img
        src="<%= blog.coverImage %>"
        class="card-img-top img-fluid"
        alt="blogger"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= blog.title %></h5>
      <p class="card-text"><%= blog.content%></p>
      <p class="fs-5">Auther: <span><%= user?.name %></span></p>
      <% if (user?.id || user?.name) { %>
      <div class="mt-2">
        <button class="btn btn-primary">
          <a
            class="text-white text-decoration-none"
            href="/blog/update/<%= blog.id %>"
            >Edit Blog</a
          >
        </button>
        <button class="btn btn-danger text-white">
          <a
            class="text-white text-decoration-none"
            href="/blog/delete/<%= blog.id %>"
            >Delete Blog</a
          >
        </button>
      </div>
      <% } %>
      <!-- <div class="mt-2">
        <button class="btn btn-primary">
          <a
            class="text-white text-decoration-none"
            href="/blog/edit/<%= blog.id %>"
            >Edit Blog</a
          >
        </button>
        <button class="btn btn-danger text-white">
          <a
            class="text-white text-decoration-none"
            href="/blog/delete/<%= blog.id %>"
            >Delete Blog</a
          >
        </button>
      </div> -->
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
