<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<div class="container mt-4">
  <div class="card mx-auto shadow box" style="max-width: 1000px">
    <div>
      <img
        src="<%= locals.blog && blog.coverImage %>"
        class="card-img-top img-fluid"
        alt="blogger"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= blog.title %></h5>
      <p class="card-text"><%= blog.content%></p>
      <p class="fs-5">Author: <span><%= user?.name %></span></p>
      <div class="mt-2">
        <button class="btn btn-primary">
          <a class="text-white text-decoration-none" href="/edit/<%= blog.id %>"
            >Edit Blog</a
          >
        </button>
        <button class="btn btn-danger text-white">
          <a
            class="text-white text-decoration-none"
            href="/delete/<%= blog.id %>"
            >Delete Blog</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
